<!DOCTYPE html>
<html>

<head>
	<title>AttritionGuard AI - OFA-Matrix-Group-1-Final-Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Fonts-->
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='fonts/fontawesome/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/pe-icon/pe-icon.css') }}">
	<!-- Vendors-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/bootstrap/grid.css') }}">
	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static', filename='vendors/magnific-popup/magnific-popup.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/swiper/swiper.css') }}">
	<!-- App & fonts-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	
</head>

<body>
	<div class="page-wrap">

		<!-- header -->
		<header class="header header--fixed">
			<div class="container">
				<div class="header__inner">
					<div class="header__logo"><a><span style="font-size: x-large; font-weight: bold;">AttritionGuard
								AI</span></a></div>
					<div class="header__menu">

						<!-- onepage-nav -->
						<nav class="onepage-nav">

							<!-- onepage-menu -->
							<ul class="onepage-menu">
								<li class="current-menu-item"><a href="#id-1">Home</a>
								</li>
								<li><a href="#id-2">About</a>
								</li>
								<li><a href="#id-3">Form</a>
								</li>
								<li><a href="#id-4">Team</a>
								</li>
							</ul><!-- onepage-menu -->

							<div class="navbar-toggle"><span></span><span></span><span></span></div>
						</nav><!-- End / onepage-nav -->

					</div>
				</div>
			</div>
		</header><!-- End / header -->

		<!-- Content-->
		<div class="md-content">

			<!-- hero -->
			<div class="hero" id="id-1"
				style="background-image: url('static/img/avatar/newoffice4.jpg'); background-position: center;;">
				<div class="hero__wrapper">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 ">
								<h1 class="hero__title">AttritionGuard AI</h1>
								<h1 class="hero__title" style="font-size: 30px;">

									<!-- typing__module -->
									<div class="typing__module" data-options='{"typeSpeed":60}'>
										<div class="typed-strings"><span>Nurturing Talent,</span><span>Shielding
												Success.</span>
										</div><span class="typed"></span>
									</div><!-- End / typing__module -->

								</h1>
							</div>
						</div><span id="back-to-down"><i class="pe-7s-angle-down"></i></span>
					</div>
				</div>
			</div><!-- End / hero -->


			<!-- Section -->
			<section class="md-section bg-gray" id="id-2">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 ">

							<!-- slide-image -->
							<div class="slide-image">

								<!-- swiper__module swiper-container -->
								<div class="swiper__module swiper-container slide-image__front"
									data-options='{"slidesPerView":1,"spaceBetween":0}'>
									<div class="swiper-wrapper">
										<div class="slide-item"
											style="background-image: url('static/img/blog/stock13.jpg');"></div>
										<div class="slide-item"
											style="background-image: url('static/img/blog/stock12.jpg');"></div>
										<div class="slide-item"
											style="background-image: url('static/img/blog/stock2.jpg');"></div>
									</div>
									<div class="swiper-pagination-custom"></div>
								</div><!-- End / swiper__module swiper-container -->


								<!-- swiper-thumbnails__module swiper-container -->
								<div class="swiper-thumbnails__module swiper-container slide-image__black"
									data-options='{"slidesPerView":1,"spaceBetween":0,"delay":10000}'>
									<div class="swiper-wrapper">
										<div class="slide-item"
											style="background-image: url('static/img/blog/stock3.jpg');"></div>
										<div class="slide-item"
											style="background-image: url('static/img/blog/stock4.jpg');"></div>
										<div class="slide-item"
											style="background-image: url('static/img/blog/stock18.jpg');"></div>
									</div>
								</div><!-- End / swiper-thumbnails__module swiper-container -->

							</div><!-- End / slide-image -->

						</div>
						<div class="col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">

							<!-- title -->
							<div class="title">
								<h2 class="title__title">AttritionGuard AI</h2>
							</div><!-- End / title -->

							<p class="fz-16">Nurturing Talent, Shielding Success.</p>
							<p class="fz-16">Transform your HR approach with AttritionGuard AI, a cutting-edge web
								application. Harnessing advanced AI, it predicts employee attrition by analyzing crucial
								factors, offering proactive insights for effective workforce management. Welcome to a
								new era in HR, blending predictive analytics with data-driven decision-making for
								optimal employee well-being.</p>
							<p class="fz-16">Try it now!</p>
						</div>
					</div>
					<!-- swiper__module swiper-container -->
					<div class="swiper__module swiper-container mt-50"
						data-options='{"slidesPerView":3,"spaceBetween":30,"autoplay":2000,"breakpoints":{"640":{"slidesPerView":1},"991":{"slidesPerView":2}}}'>
						<div class="swiper-wrapper">

							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-display1"></i></div>
								<h3 class="service__title">Total Business Value</h3>
								<p class="service__text">Combined monetary worth of company assets and services
									provided.</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-date"></i></div>
								<h3 class="service__title">Age</h3>
								<p class="service__text">Employee's years since birth, relevant for experience and
									adaptability.</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-like"></i></div>
								<h3 class="service__title">Gender</h3>
								<p class="service__text">Distinct biological and social attributes influencing workforce
									diversity.</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-map-marker"></i></div>
								<h3 class="service__title">City Code</h3>
								<p class="service__text">Numeric identifier for employee's workplace location in company
									records.</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-study"></i></div>
								<h3 class="service__title">Education Level</h3>
								<p class="service__text">Employee's attained academic degree, indicating knowledge and
									qualifications.</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-cash"></i></div>
								<h3 class="service__title">Salary</h3>
								<p class="service__text">Monetary compensation given to an employee for their job role.
								</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-rocket"></i></div>
								<h3 class="service__title">Joining Designation</h3>
								<p class="service__text">Initial job title upon starting employment within the company.
								</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-users"></i></div>
								<h3 class="service__title">Designation</h3>
								<p class="service__text">Job title indicating the employee's role and responsibilities.
								</p>
							</div><!-- End / service -->


							<!-- service -->
							<div class="service mb-0">
								<div class="service__icon"><i class="pe-7s-star"></i></div>
								<h3 class="service__title">Quarterly Rating</h3>
								<p class="service__text">Periodic assessment of employee performance during a business
									quarter.</p>
							</div><!-- End / service -->

						</div>
					</div><!-- End / swiper__module swiper-container -->
				</div>
			</section>
			<!-- End / Section -->


			<!-- Section -->
			<section class="md-section" id="id-3">
				<div class="container">
					<div class="title">
						<h2 class="title__title">Form</h2>
					</div>
					<form action="{{ url_for('predict') }}" method="post">
						<div class="form-wrapper">
							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label class="form__label">Total Business Value</label>
									<input type="number" class="form-control form-control-sm" id="totalbusinessvalue"
										name="totalbusinessvalue" required>
								</div>
								<div class="form-group">
									<label class="form__label" style="padding-top: 10px;">Age</label>
									<input type="number" class="form-control" id="age" name="age" min="0" pattern="\d+"
										required>
								</div>
								<div class="form-check">
									<label class="form__label" style="padding-top: 10px;">Gender</label>
									<select class="form-select form-select-sm" id="gender" name="gender" required>
										<option>Select Gender</option>
										<option value="1" id="gender-male" name="gender-male">Male</option>
										<option value="0" id="gender-female" name="gender-female">Female</option>
									</select>
								</div>
								<div class="form-check">
									<label class="form__label" style="padding-top: 10px;">City</label>
									<input type="number" class="form-control" id="city" name="city" min="0" pattern="\d+" required>
								</div>
								<div class="form-check">
									<label class="form__label">Education Level</label>
									<div class="card-body">
										<!-- Updated radio button values to string values -->
										<label class="form-check form-check-inline" style="padding-right: 15px;">
											<input class="form-check-input" type="radio" value="0" name="education">
											<span class="form-check-label">Bachelor</span>
										</label>
										<label class="form-check form-check-inline" style="padding-right: 15px;">
											<input class="form-check-input" type="radio" value="1" name="education">
											<span class="form-check-label">College</span>
										</label>
										<label class="form-check form-check-inline" style="padding-right: 15px;">
											<input class="form-check-input" type="radio" value="2" name="education">
											<span class="form-check-label">Master</span>
										</label>
									</div>
								</div>								
							</div>
							<div class="col-12 col-lg-6">
								<div class="form-check">
									<label class="form__label">Salary</label>
									<input type="number" class="form-control" min="0" pattern="\d+" id="salary"
										name="salary" required>
								</div>
								<div class="form-check">
									<label class="form__label" style="padding-top: 10px;">Joining Designation</label>
									<select class="form-select form-select-sm" id="joiningdesignation" name="joiningdesignation" required>
										<option>Select Joining Designation</option>
										<option value="1" id="entry-joiningdesignation" name="entry">Entry Level</option>
										<option value="2" id="mid-joiningdesignation" name="mid">Mid-Level</option>
										<option value="3" id="senior-joiningdesignation" name="senior">Senior Level</option>
										<option value="4" id="executive-joiningdesignation" name="executive">Executive Level</option>
									</select>
								</div>
								<div class="form-check">
									<label class="form__label" style="padding-top: 10px;">Designation</label>
									<select class="form-select form-select-sm" id="designation" name="designation" required>
										<option>Select Designation</option>
										<option value="1" id="entry-designation" name="entry-designation">Entry Level</option>
										<option value="2" id="mid-designation" name="mid-designation">Mid-Level</option>
										<option value="3" id="senior-designation" name="senior-designation">Senior Level</option>
										<option value="4" id="executive-designation" name="executive-designation">Executive Level</option>
									</select>
								</div>
								<div class="form-check">
									<label class="form__label" style="padding-top: 10px;">Quarterly Rating</label>
									<div class="card-body">
										<label class="form-check form-check-inline" style="padding-right: 15px;">
											<input class="form-check-input" type="radio" value="1" name="qrating">
											<span class="form-check-label">1</span>
										</label>
										<label class="form-check form-check-inline" style="padding-right: 15px;">
											<input class="form-check-input" type="radio" value="2" name="qrating">
											<span class="form-check-label">2</span>
										</label>
										<label class="form-check form-check-inline" style="padding-right: 15px;">
											<input class="form-check-input" type="radio" value="3" name="qrating">
											<span class="form-check-label">3</span>
										</label>
										<label class="form-check form-check-inline" style="padding-right: 15px;">
											<input class="form-check-input" type="radio" value="4" name="qrating">
											<span class="form-check-label">4</span>
										</label>
										<label class="form-check form-check-inline" style="padding-right: 15px;">
											<input class="form-check-input" type="radio" value="5" name="qrating">
											<span class="form-check-label">5</span>
										</label>
									</div>
								</div>
								<div class="form-check">
									<label class="form__label" style="padding-top: 10px;">Result Status</label>
									<input type="text" id="predictionResult" name="predictionResult" value="{{ prediction_result }}" readonly>
								</div>								
								<div class="col-md-6">
								</div>
							</div>
						</div>
						<br>
						<div class="form-item" style="text-align: end;">
							<button class="md-btn btn-custom" type="submit" id="btn-submit" name="btn-submit">SUBMIT</button>
						</div>
					</form>
				</div>
			</section>
			<!-- End / Section -->


			<!-- Section -->
			<section class="md-section bg-gray" id="id-4">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">

							<!-- title -->
							<div class="title">
								<h2 class="title__title">Team</h2>
							</div><!-- End / title -->

						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 ">

							<!--  -->
							<div>
								<div class="post__media"><a><img src="static/img/avatar/adam1.jpg" alt="" /></a></div>
								<div class="post__body">
									<h2 class="post__title"><a>Raden Bagus Adam Kusuma Firdaus</a></h2>
									<div class="post__meta"><span class="author"><a href="https://ulm.ac.id/id/"
												target="_blank">Universitas Lambung Mangkurat</a></span><span
											class="date">Programmer</span></div>
									<p class="post__text">Hi! I'm Adam The Great. I'm majoring in Computer Science, and
										currently on my 5th semester. I'm based in Banjarbaru, South Kalimantan, and I
										was also born and raised here. I'm into fitness and physical stuff such as
										workout, calisthenics, and martial arts. Not only that, I'm also into reading,
										study, learn new things, and of course the things which are on my field, tech
										and
										science. I'm a dedicated, highly organized person, and pretty workaholic as
										well. I could work very well in a team, and also independently. </p>
									<p class="post__meta"><a
											href="https://id.linkedin.com/in/rbakf"
											target="_blank">LinkedIn</a><a> | </a><a href="https://instagram.com/rbakf_"
											target="_blank">Instagram</a>
									</p>
								</div>
							</div><!-- End /  -->

						</div>
						<div class="col-lg-4 ">

							<!--  -->
							<div>
								<div class="post__media"><a><img src="static/img/avatar/dinda1.jpg" alt="" /></a></div>
								<div class="post__body">
									<h2 class="post__title"><a>Ni Putu Adinda Krisna Putri</a></h2>
									<div class="post__meta"><span class="author"><a href="https://www.warmadewa.ac.id/"
												target="_blank">Universitas Warmadewa</a></span><span class="date">Data
											Researcher</span></div>
									<p class="post__text">Bonjour! I am Adinda Krisna Putri, people often call me Dinda,
										currently I am an active student majoring in accounting in the final semester at
										Warmadewa University Denpasar Bali. I was born in Denpasar, Bali. I really like
										music, and sport activities such as workout, zumba, swimming, badminton,
										aerobics and fitness.
										And the last, I am a person who can work well in a team or independently. I'm a
										person who is highly organized, and also a hard worker and want to
										learn new things.</p>
									<p class="post__meta"><a href="http://www.linkedin.com/in/adindakrisnap"
											target="_blank">LinkedIn</a><a> | </a><a
											href="https://instagram.com/adindakrisna.p" target="_blank">Instagram</a>
									</p>
								</div>
							</div><!-- End /  -->

						</div>
						<div class="col-lg-4 ">

							<!--  -->
							<div>
								<div class="post__media"><a><img src="static/img/avatar/umrah1.jpg" alt="" /></a></div>
								<div class="post__body">
									<h2 class="post__title"><a>Umrah Mutia</a></h2>
									<div class="post__meta"><span class="author"><a href="https://www.warmadewa.ac.id/"
												target="_blank">Universitas Warmadewa</a></span><span class="date">AI
											Researcher</span></div>
									<p class="post__text">Hello! I'm Umrah Mutia, people usually call me Uthy or Umrah
										or even Mutia, but you can call me whatever you like. I am currently a final
										semester student at Warmadewa University, Denpasar, Bali, Indonesia
										I was originally born in the city of Bima, one of the cities at the eastern tip
										of Sumbawa Island, West Nusa Tenggara. I really like football, but don't play it
										directly, I just like watching and even joining as a manager for one of the
										football teams in my city. I am a person who is very easy to get along with.</p>
									<p class="post__meta"><a href="http://www.linkedin.com/in/umrah-mutia-64a913261"
											target="_blank">LinkedIn</a><a> | </a><a
											href="https://instagram.com/yyuthyyy_" target="_blank">Instagram</a>
									</p>
								</div>
							</div><!-- End /  -->

						</div>
					</div>
				</div>
			</section>
			<!-- End / Section -->

		</div>
		<!-- End / Content-->

		<!-- footer -->
		<div class="footer">
			<div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
			<div class="container">
				<div class="footer__wrapper">
					<div class="footer__social">

						<!-- social-icon -->
						<a class="social-icon"><img src="static/img/avatar/1.png" alt="">
						</a><!-- End / social-icon -->

						<a class="social-icon"><img src="static/img/avatar/msib.jpg" alt="">
						</a><!-- End / social-icon -->

						<a class="social-icon"><img src="static/img/avatar/2.png" alt="">
						</a><!-- End / social-icon -->

						<a class="social-icon"><img src="static/img/avatar/3.png" alt="">
						</a><!-- End / social-icon -->

					</div>
					<p class="footer__copy">MBKM-MSIB 2023 &copy; OFA-Matrix-Group 1</p>
				</div>
			</div>
		</div><!-- End / footer -->

	</div>
	<!-- Vendors-->
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/jquery/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/imagesloaded/imagesloaded.pkgd.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/isotope-layout/isotope.pkgd.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/jquery-one-page/jquery.nav.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/jquery.easing/jquery.easing.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/jquery.matchHeight/jquery.matchHeight.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/magnific-popup/jquery.magnific-popup.min.js') }}"></script>	
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/masonry-layout/masonry.pkgd.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/swiper/swiper.jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/menu/menu.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/typed/typed.min.js') }}"></script>
<!-- App-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/client_side.js') }}"></script>	

	<script src="{{ url_for('static', filename='bootstrap/4.1.1/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='jquery/3.2.1/jquery.min.js') }}"></script>

</body>

</html>